# Ignore Python cache and environment files
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore OS files
.DS_Store
Thumbs.db
__MACOSX/

# Ignore logs
*.log

# Ignore other common files
*.swp
*.swo

# ignore path of downloaded datasets and models
data/